@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0B0F17] text-slate-200 antialiased;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
  }
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-loading {
    animation: loading 2s infinite linear;
  }
}
